{% extends "base.html" %}

{% block title %}
  {{ obra.titulo }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Obras</a></li>
  <li class="breadcrumb-item active">{{ obra.titulo }}</li>
{% endblock %}


{% block content %}
<h1>{{ obra.titulo }}</h1>
<p><strong>Autor:</strong> {{ obra.autor }}</p>
<p><strong>Categoria:</strong> {{ obra.categoria }}</p>
<p><strong>Estado:</strong> {{ obra.estado }}</p>
<p><strong>Data de Publicação:</strong> {{ obra.ano_publicacao }}</p>

<p><strong>Resumo:</strong> {{ obra.resumo }}</p>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th>Nome do arquivo</th>
      <th>Data de Publicação</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {%for arquivo in arquivos%}
    <tr>
      <td class="align-middle">{{arquivo.nomearquivo}}</td>
      <td class="align-middle">{{arquivo.enviado_em}}</td>
      <td class="align-middle"><a href="{{ arquivo.arquivo.url }}" class="btn btn-primary">Download</a></td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}