{% extends "base.html" %}
{% block title %}Detalhe da Obra{% endblock %}

{% block content %}
<h1>{{ obra.titulo }}</h1>
<p><strong>Categoria:</strong> {{ obra.categoria }}</p>
<p><strong>Descrição:</strong> {{ obra.resumo }}</p>
<p><strong>Autor:</strong> {{ obra.autor }}</p>
<p><strong>Data de Publicação:</strong> {{ obra.ano_publicacao }}</p>

{%for arquivo in arquivos%}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{arquivo.enviado_em}}</h5>
    <p class="card-text">{{arquivo.arquivo}}</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

{%endfor%}
{% endblock %}